.App{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  margin: auto;
}
.App div{
  width: 33%;
  padding: 3px
}

input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 50px;
  margin: 5px;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-pink);
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
}
.moreDet{
  max-width: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin: 10px;
  font-size: 18px;
}
.Frame{
  display: flex;
  float: left;
}
